aac-metrics==0.4.2
--find-links https://download.pytorch.org/whl/cu118
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
bayesian-optimization==1.4.3
cosine-annealing-warmup @ git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup
transformers==4.31.0
wandb==0.16.0
lightning==2.2.0
deepspeed==0.12.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
sacremoses==0.0.53
tqdm==4.65.0
pandas==2.0.3
numpy==1.24.1
matplotlib==3.7.2
xmltodict==0.13.0
jsonargparse[signatures]==4.26.1
wrapt==1.16.0
